:root {
	--primary-color: #d6cc99;
	--secondary-color: #f8f0e5;
	--deflaut-font-family: "Merriweather Sans", sans-serif;
	--heading-font-family: "Merriweather", serif;
}

body {
	background-color: var(--secondary-color);
	line-height: 1.5rem;
}
a {
	color: black;
}
h1,
h2,
h3 {
	font-family: var(--heading-font-family);
}
p {
	font-family: var(--deflaut-font-family);
	font-weight: 300;
	font-size: 16px;
	margin-bottom: 32px;
}

h1 {
	font-size: 80px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 24px;
}
.navbar {
	background-color: var(--secondary-color);
	padding: 10px;
}
#navbarNav {
	justify-content: right;
}
.hero {
	background: var(--primary-color);
	text-align: center;
	height: 580px;
	padding: 120px;
	font-family: var(--heading-font-family);
}

.btn-branding {
	background: white;
	height: 48px;
	border-radius: 24px;
	padding: 10px 20px;
}
.btn-sec {
	border-color: var(--primary-color);
	border-width: 2px;
	height: 48px;
	border-radius: 24px;
}
.btn-branding-dark {
	background: var(--primary-color);
	height: 48px;
	border-radius: 24px;
	padding: 10px 20px;
}
.project-description {
	padding: 48px;
}

.about-content {
	padding: 36px;
}
@media (max-width: 900px) {
	h1 {
		font-size: 32px;
	}
	h2,
	button {
		font-size: 24px;
	}
	h3 {
		font-size: 18px;
	}
	p {
		font-size: 14px;
	}
	.hero {
		height: 320px;
		padding: 40px;
	}
	.project-description {
		padding: 0px;
		text-align: center;
	}
	.about-content {
		text-align: center;
	}
}
